{% extends "pinkdesh/index.html" %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
    <div class="panel-box">
        <h4>تغییر رمز عبور کاربر</h4>
        <form role="form" method="post" data-parsley-validate>
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>{{ form.username.label }}</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.password.label }}</label>
                        {{ form.password }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.repeat_password.label }}</label>
                        {{ form.repeat_password }}
                    </div>
                </div>
            </div>
            <div style="display: flow-root">
                <button class="btn btn-sm btn-theme pull-left m-t-n-xs" type="submit">ویرایش</button>
            </div>
        </form>
    </div>
{% endblock %}