<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
<head>
    {% load static %}
    <title>EMS - AZMAGROUP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{% static 'pinkdesh/images/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'pinkdesh/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'pinkdesh/images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'pinkdesh/images/favicon-16x16.png' %}">
    <link href="{% static 'pinkdesh/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'pinkdesh/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'pinkdesh/css/style.css' %}" rel="stylesheet">
</head>
<body class="fixed-left">

{% block body %}
{% endblock %}
<!-- Plugins  -->
<script src="{% static 'pinkdesh/js/jquery.min.js' %}"></script>
</body>
</html>