{% extends "pinkdesh/index.html" %}

{% block body %}
    <div class="panel-box">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="/airconditioner/{{ airconditioner.id }}/edit"> {{ form.title.value }}</a></li>
                <li class=""><a href="/setting/airconditioner/{{ airconditioner.id }}">تنظیمات تهویه هوا</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <form role="form" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{ form.title.label }}</label>
                                        {{ form.title }}
                                    </div>
                                </div>
                                {% if manual %}
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{{ form.status.label }}</label>
                                            {{ form.status }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div style="display: flow-root">
                                <button class="btn btn-sm btn-theme pull-left m-t-n-xs" type="submit">ویرایش سنسور</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}