{% extends "pinkdesh/index.html" %}

{% block body %}
    <div class="panel-box">
        <h4>ویرایش تهویه هوا</h4>
        <form role="form" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>{{ form.title.label }}</label>
                        {{ form.title }}
                    </div>
                </div>
                {% if manual %}
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{ form.status.label }}</label>
                            {{ form.status }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div style="display: flow-root">
                <button class="btn btn-sm btn-theme pull-left m-t-n-xs" type="submit">ویرایش سنسور</button>
            </div>
        </form>
    </div>
{% endblock %}