{% extends "pinkdesh/index.html" %}

{% block body %}
<div class="row">
    <div class="col-sm-12">

    </div>
</div>
<div class="panel-box">
    <h4>
        {% if edit != True %}
        ایجاد سنسور دود
        {% else %}
        ویرایش سنسور دود
        {% endif %}
    </h4>
    <form role="form" method="post">
        {% csrf_token %}
        <div class="row">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    {{ field }} {{ error }}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ form.title.label }}</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label>{{ form.setting__data_block_type.label }}</label>
                    {{ form.setting__data_block_type }}
                </div>
            </div>

            {% if edit != True %}
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ form.db_id.label }}</label>
                    {{ form.db_id }}
                </div>
                <div class="form-group">
                    <label>{{ form.byte_id.label }}</label>
                    {{ form.byte_id }}
                </div>
                <div class="form-group">
                    <label>{{ form.bit_id.label }}</label>
                    {{ form.bit_id }}
                </div>
            </div>
            {% endif %}
        </div>
        <div style="display: flow-root">
            <button class="btn btn-sm btn-theme pull-left m-t-n-xs" type="submit">
                {% if edit != True %}
                ثبت سنسور
                {% else %}
                ویرایش سنسور
                {% endif %}
            </button>
        </div>


        {% comment %}<div class="form-group"><label>Password</label> <input type="password" placeholder="Password" class="form-control"></div>
        <div>
            <button class="btn btn-sm btn-theme pull-right m-t-n-xs" type="submit"><strong>Log in</strong></button>
            <label> <input type="checkbox" class="i-checks"> Remember me </label>
        </div>{% endcomment %}
    </form>
</div>

{% comment %}<form method="post" data-parsley-validate>
    <div class="card-header">
        ایجاد سازمان جدید
    </div>
    <div class="card-body">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ form.title.label }}</label>
            <div class="col-sm-6">
                {{ form.title }}
            </div>
        </div>
    </div>
</form>{% endcomment %}
{% endblock %}